@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-red-600 font-bold;
  }
}

@layer components {
  .main-header {
    @apply bg-slate-100 p-3 rounded w-full md:w-1/2 md:h-[410px];
  }
}
:root {
  /* COLOR_VARIABLES */
  --color-white: #fff;

  /* FONT_VARIABLES */
  --regular-font: 'Poppins', sans-serif;
  --fw-regular: 400;
  --fw-md: 600;
  --fw-bold: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* This defines what 1rem is */
  font-size: 62.5%; /*1 rem = 10px; 10px/16px = 62.5%*/
}

body {
  font-family: var(--regular-font);
  font-size: 1.6rem;
  font-weight: var(--fw-regular);
  background: gray;
  line-height: 1.6;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
}

input {
  outline: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

input,
textarea {
  width: 100%;
  outline: none;
}
